# Azure OpenAI Configuration
VITE_AZURE_OPENAI_ENDPOINT=https://YOUR_RESOURCE_NAME.openai.azure.com
VITE_AZURE_OPENAI_API_VERSION=2024-08-01-preview
VITE_AZURE_OPENAI_DEPLOYMENT=YOUR_DEPLOYMENT_NAME
VITE_AZURE_OPENAI_KEY=YOUR_API_KEY

# Azure Speech Service Configuration
VITE_AZURE_SPEECH_KEY=
VITE_AZURE_SPEECH_REGION=
VITE_AZURE_SPEECH_DEFAULT_VOICE=en-US-JennyNeural
VITE_AZURE_SPEECH_LANGUAGES=en-US,zh-CN,ja-JP


# DeepSeek Configuration
VITE_DEEPSEEK_API_KEY=YOUR_DEEPSEEK_API_KEY

# Gemini Configuration
VITE_GEMINI_API_KEY=YOUR_GEMINI_API_KEY
